
<div class="container horizontal-center">


  <div class="main-content shadow horizontal-center">
    <h4>Create Team</h4>

    <form #form="ngForm">
      <div class="form-group">
        <p class='name-label'>Name:</p>
        <input type="text" class="form-control" placeholder="Enter your team name" [(ngModel)]="name" name="name" maxlength="50" (change)="trimmer()" required>
      </div>

      <div class="form-group">
        <p class='email-label'>URL:</p>
        <span *ngIf="urlTaken">*This URL is already taken!<br></span>
        <span>sushiii.me/ </span>
        <input type="text" class="form-control" placeholder="Enter team URL" ngModel name="url" maxlength="30" (change)="checkUrl($event)" required>
      </div>

      <div class="form-group">
        <p class='email-label'>Email:</p>
        <span *ngIf="notValidEmail">*Please enter a valid email!</span>
        <input type="text" class="form-control" placeholder="Enter team email" ngModel name="email" maxlength="255" (change)="checkEmail($event)" required>
      </div>

      <div class="form-group">
        <p class='location-label'>Location (optional):</p>
        <input type="text" class="form-control" placeholder="Enter your team location" id="location" [(ngModel)]="location" name="location" maxlength="50" onkeypress="return event.keyCode!=13">
      </div>

      <div class="form-group">
        <p class='location-label'>Hire:</p>
        <label class="switch">
          <input type="checkbox" ngModel name="hire">
          <div class="slider round"></div>
        </label>
      </div>

      <div class="form-group">
        <p class='bio-label'>Bio (optional):</p>
        <textarea class="form-control" rows="3" placeholder="Enter your team bio" ngModel name="bio" maxlength="255"></textarea>
      </div>
      <button class="btn btn-primary" (click)="createTeam(form.value)">Save</button>
    </form>
  </div>


</div> <!-- container -->
