
<div class="container horizontal-center">

  <div class="main-content shadow horizontal-center">
    <h4>Add Project</h4>

    <form #form="ngForm" (ngSubmit)="addProject(form.value)">

      <div class="form-group">
        <p class='title-label'>Title:</p>
        <input type="text" name="title" class='form-control' placeholder='Enter your project title' ngModel required>
      </div>

      <div class="form-group">
        <p class='description-label'>Description:</p>
        <textarea rows="4" class='form-control' name="description" ngModel required></textarea>
      </div>

      <div class="form-group">
        <p class='github-label'>Github:</p>
        <input type="text" name="github" class='form-control' placeholder='github.com/lukeskywalker' ngModel>
      </div>

      <div class="form-group">
        <p class='deploy-label'>Deployed App:</p>
        <input type="text" name="deploy" class='form-control' placeholder='mysuperawesomeapp.com' ngModel>
      </div>

      <div class="form-group">
        <label for="status-select">Status:</label>
        <select class="form-control" id="status-select">
          <option value="Completed">Completed</option>
          <option value="In Progress">In Progress</option>
          <option value="Abandonded">Abandonded</option>
        </select>
      </div>

      <div class="form-group">
        <p class='deploy-label'>Open Source:</p>
        <label class="switch">
          <input type="checkbox" name="openSource" ngModel>
          <div class="slider round"></div>
        </label>
      </div>


      <button type="submit" class="btn btn-primary">Submit</button>

    </form>

  </div> <!-- main content -->

</div> <!-- container -->
