.shadow {
  -webkit-box-shadow: 0 5px 6px -6px #bdc3c7;
  -moz-box-shadow: 0 5px 6px -6px #bdc3c7;
  box-shadow: 0 5px 6px -6px #bdc3c7;
}

.main-content {
  position: relative;
  margin: 0 auto;
  width: 75vw;
  min-width: 700px;
  background-color: white;
  border-radius: 5px;
  padding: 50px 80px;
}

.optional {
  color: #888B8D;
}

.half-form {
  position: relative;
  width: 35%;
  display: inline-block;
  margin-right: 3%;
}

.wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}

form {
  position: relative;
  margin-top: 20px;
}

p {
  margin-bottom: 5px;
}

a {
  color: salmon;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

h4 {
  margin-bottom: -25px;
}

.break {
  border: black solid 1px;
}


.btn, .btn:active {
  background-color: salmon;
  border: none;
  outline: none;
}

.error {
  color: red;
  font-size: 12px;
}