.nav-bar {
  height: 45px;
  width: 100vw;
  background-color: rgb(68, 68, 68);
}

.nav-logo {
  max-width: 45px;
}

.project-thumbnail {
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
  margin-left: 3%;
  margin-bottom: 30px;
  width: 30%;
  height: 30%;
  display: inline-block;
  position: relative
}

.project-thumbnail-hover {
  background-color: rgba(25, 25, 25, .7);
  border-radius: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 500ms ease;
}

.project-thumbnail-hover .project-name {
  text-align: center;
  margin: 10 0;
  color: white;
}

.hide {
  opacity: 0;
}

.project-thumbnail .project-thumbnail-img {
  margin: 15px auto;
  max-width: 88%;
  display: block;
}

.project-thumbnail .project-thumbnail-view-icon {
  max-width: 30px;
  position: absolute;
  right: 10;
  bottom: 0;
}

.project-thumbnail-views {
  position: absolute;
  bottom: 5;
  right: 14;
}

.project-thumbnail-views span {
  position: absolute;
  bottom: 5;
}

.fill {
  width: 100%;
  height: 100%;
}

.browse-sidebar {
  position: relative;
  display: inline-block;
  width: 22%;
  height: 500px;
  background-color: rgb(240, 240, 240);
  border-radius: 0 10px 10px 0
}

.browse-body {
  margin-left: 1%;
  position: relative;
  display: inline-block;
  width: 76%;
  position: absolute;
}

.tech-container {
  display: inline-block;
  background-color: rgb(255, 255, 255);
  margin-left: 5px;
  margin-bottom: 5px;
  padding: 4px;
  transform: all 100ms ease;
}

.highlight {
  background-color: rgb(190, 190, 190)
}

.add-project {
  position: fixed;  
  width: 375px;
  height: 375px;
  background-color: rgb(250, 250, 250);
  top: 50%;
  left: 50%;
  margin-top: -187.5px; /* Negative half of height. */
  margin-left: -187.5px; /* Negative half of width. */
  z-index: 50;
  padding: 10px;
}

.display-none {
  display: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 51px;
  height: 24px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.filter-bar {
  background-color: rgb(250, 128, 114);
  width: 100%;
  height: 50px;
  margin-top: -20px;
  transition: all 500ms ease;
  padding: 0 5px;
}

.filter-bar-hide {
  margin-top: -70px
}

.filter-btn {
  border-top: 25px solid salmon;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 25px;
	width: 200px;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.filter-txt {
  margin-top: -24px;
}

.thumbnails {
  margin-top: 30px;
}

.filter-bar-input {
  margin-top: 5px;
  display: inline-block;
  max-width: 18%;
}

.filter-bar select {
  height: 38px;
}

.sort {
  color: rgb(136, 139, 141);
}

.sort span:hover {
  color: salmon;
  cursor: pointer;
}

.nav-dropdown {
  position: absolute;
  right: 10px;
}

.dropdown-image {
  max-height: 45px;
  border-radius: 22.5px;
  position: relative;
}

.nav-dropdown-inside {
  position: absolute;
  top: -12px;
  height: 277px;
}

.nav-dropdown-links {
  background-color: white;
  color: rgb(136, 139, 141);
  border: 1px solid rgb(209, 214, 217);
}

.nav-dropdown-links div {
  width: 100%;
  padding: 15px 5px;
}

.nav-dropdown-links div:hover {
  color: salmon;
  cursor: pointer;
}

.nav-dropdown-links hr{
  margin: 0;
}

.space {
  height: 69px;
}

.hide-dropdown {
  height: 70px;
  overflow: hidden;  
  /*transition: all 750ms linear;*/
}

.signIn {
  position: absolute;
  right: 0;
}