
/* utility */
.horizontal-center {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.thumbnail-wrapper {
  width: 100%;
}

.thumbnails {
  width: 1065px;
  padding: 0;
}

/* Filter Bar */
.filter-btn {
  cursor: pointer;
}

/* Filter Bar */

.apply-btn, .apply-btn:active {
  outline: none;

  color: white;
  background-color: #477EC7;
  border: 1px solid #477EC7;
}

.clear-btn, .clear-btn:active {
  outline: none;

  color: white;
  background-color: transparent;
  border: 1px solid white;
}

/* Footer */

.bottom {
  color: #888B8D;
  text-align: center;
}

.load {
  position: center;
}

/* Button for Loading more projects */

.load-more-btn, .load-more-btn:active {
  margin-bottom: 20px;
  margin-top: 10px;

  color: salmon;
  background-color: transparent;
  border: 1px solid salmon;
}
