
/* utility */
.horizontal-center {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.thumbnail-wrapper {
  width: 100%;
}

.thumbnails {
  width: 1065px;
  padding: 0;
}

/* Filter Bar */
.filter-btn {
  cursor: pointer;
}

.apply-btn, .apply-btn:active {
  outline: none;
}

.bottom {
  color: #888B8D;
  text-align: center;
}

.load {
  position: center;
}

.btn-primary {
  color: rgb(250, 128, 114);
  background-color: #FFFFFF;
  border: none;
}

.btn-primary:hover {
  color: rgb(250, 128, 114);
  background-color: #F4F4F4;
  border: none;
}