
<div class="profile-preview-container">

  <div class="profile-details">
    <div class="profile-picture-viewport horizontal-center vertical-center">
      <img src="https://s-media-cache-ak0.pinimg.com/736x/b6/02/60/b60260905c633e80e4fbaf5284021cd9.jpg" class='profile-picture' />
    </div>

    <h5 class='user-name'>User Name Here</h5>
    <p class='description'>
      Description goes here. It's the best description there ever was.
    </p>
    <p class='tech'>
      React, JavaScript, Angular 2, Node, Express
    </p>
  </div> <!-- profile-details -->

  <!-- Thumbnails -->
  <div class="thumbnails-container">
    <div class="left-gradient"></div>

    <div class="thumbnail-placeholder">
      <h5>I am a project</h5>
    </div>
    <div class="thumbnail-placeholder">
      <h5>I am a project</h5>
    </div>
    <div class="thumbnail-placeholder">
      <h5>I am a project</h5>
    </div>
    <div class="thumbnail-placeholder">
      <h5>I am a project</h5>
    </div>

    <div class="right-gradient"></div>

  </div>




</div> <!-- profile-preview-container -->
