
<div class="profile-preview-container" *ngFor="let user of users">

  <div class="profile-details">
    <div class="profile-picture-viewport horizontal-center vertical-center">
      <a routerLink="/profile/{{user.url}}"><img src="{{user.picture}}" class='profile-picture' /></a>
    </div>

    <a routerLink="/profile/{{user.url}}"><h5 class='user-name'>{{user.name}}</h5></a>
    <p class='user-name'>{{user.location}}</p>
    <p class='description'>
      {{user.bio}}
    </p>
    <p class='tech'>
      <span *ngFor="let tech of user.Teches"> {{tech.name}}</span>
    </p>
  </div> <!-- profile-details -->

  <!-- Thumbnails -->
  <div class="thumbnails-wrapper">
    <div class="thumbnails-container">
      <!-- <div class="left-gradient"></div> -->

      <div class="thumbnail-placeholder" *ngFor="let project of user.Projects">
        <a routerLink="/project/{{project.id}}"><img src="{{project.thumbnail}}"></a>
      </div>

      <!-- <div class="right-gradient"></div> -->

    </div> <!-- thumbnails-container -->

  </div> <!-- thumbnails-wrapper -->




</div> <!-- profile-preview-container -->
