/* A couple of utility classes for re-use */
.horizontal-center {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.shadow {
  -webkit-box-shadow: 0 5px 6px -6px #bdc3c7;
  -moz-box-shadow: 0 5px 6px -6px #bdc3c7;
  box-shadow: 0 5px 6px -6px #bdc3c7;
}

.container {
  color: #444444;
}

/* whole card */
.main-card {
  width: 75vw;
  background-color: white;
  padding: 30px;
  border-radius: 5px;

  margin-bottom: 40px;

  display: inline-block;
}

/* header section */

.header {
  min-width: 40vw;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-bottom: 10px;

  color: #444444;
}

.title {
  margin-bottom: 3px;
  padding-right: 10px;
  display: inline;
}

.subhead {
  font-size: 0.9em;
}

.date {
  color: #888B8D;
}

/* main content */

.main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* main image */

.main-img-viewport {
  min-width: 50vw;
  max-height: 60vh;
}

.main-img {
  width: 100%;
  height: 80%;
}

.small-img {
  width: 30%;
  height: 30%;
}

.small-img-cont {
  display: inline;
}

/* Info sidebar */
.info {
  /*display: flex;
  flex-direction: column;
  justify-content: space-around;*/

  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
  margin-bottom: 10px;

  /*border: 1px solid black;*/
}

.tech {
  color: #888B8D;
  font-size: 0.9em;
}

/* Icons and Like/View data */
.social {
  color: #888B8D;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.social > p {
  margin-right: 20px;
}

.social .fa {
  font-size: 1.3em;
  margin-right: 5px;
}

.fa-heart {
  cursor: pointer;
}


/* Comments */

.comments {
  margin-top: 20px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form {
  max-width: 600px;
}

.btn, .btn:active {
  background-color: salmon;
  border: none;
  outline: none;
}

.comment-author {
  margin-bottom: 5px;
  font-weight: bold;
}

/* Global Tag Styles */

a, a:visited {
  color: #444444;
  text-decoration: none;
}

a:hover, a:focus {
  color: salmon;
}

hr {
  width: 100%;
  height: 2px;

  border: none;
  background-color: #F4F4F4;

  margin-bottom: 20px;
  margin-top: 20px;
}


/* Kind of backwards, but this media query handles the screen being larger
(defaults above are for smaller screens)
TODO: refactor to be the opposite, more intuitive approach
*/

@media screen and (min-width: 1000px) {
    .main-card {
        background-color: white;
    }

    .main-img-viewport {
      max-width: 50vw;
      max-height: 70vh;
      margin-left: 20px;
    }

    /*.main-img {
      width: 100%
    }*/

    .main-content {
      flex-wrap: nowrap;
    }

    .info {
      margin-left: 20px;
      margin-right: 10px;
      margin-top: 25px;
    }
}
