<div *ngIf="project" class="container horizontal-center">

  <div class="main-card shadow">
      <!-- Header -->
      <div class='header'>
        <h3 class='title'>{{project.title}}</h3>
        <p class='subhead'>
          <!-- Attatch the project.Profile.url when your profile has it!! -->
          by <a class='user-name navLink' routerLink="/profile/{{project.Profile.url}}">{{project.Profile.name}}</a> on <span class='date'>{{project.createdAt}}</span>
        </p>
      </div>

      <div class="main-content">
        <!-- Main Image -->
        <div class="main-img-viewport">
          <img src={{project.thumbnail}} alt="main-img" class='main-img' />
          <div *ngIf="isOwner(project.Profile.authId)">
            <span>Add Image</span>
          </div>
        </div>
        

        <!-- Info -->
        <div class="info">
          <div>
            <p class='description' id="project-description">
              {{project.description}}
            </p>

            <!--Edit Discription-->
            <div *ngIf="isOwner(project.Profile.authId)">
              <div id="project-description-input" class="display-none">
                <form #editDescriptionInput="ngForm" (ngSubmit)="editDescriptionPost($event, editDescriptionInput.value)">
                  <input type="text" name="description" [(ngModel)]="project.description">
                  <button type="submit" class="btn btn-primary">Save</button>
                </form>
              </div>
              <span (click)="editDescription()">Edit Description</span>
            </div>

          </div>
          <hr>

          <div class="social">
            <p class='likes' (click)="likeProject(project.id)"> <i [ngStyle]="like" class="fa fa-heart" aria-hidden="true"></i> {{project.likes}}</p>
            <p class='views'> <i class="fa fa-eye" aria-hidden="true"></i> {{project.views}}</p>
            <p class='views'> <i class="fa fa-comment" aria-hidden="true"></i> {{project.comments}}</p>
          </div>

          <hr>

          <p *ngFor="let tech of project.Teches" class='tech'>
            {{tech.name}}
          </p>

          
          <!--Add to tech stack-->
          <div *ngIf="isOwner(project.Profile.authId)">
            <datalist id="techs">
              <option *ngFor="let tech of techs" [value]="tech.name">
            </datalist>
            <form #add="ngForm" (ngSubmit)="addTech($event, add.value)">
              <input type="text" list="techs" name="tech" id="techInput" ngModel>
              <button type="submit" class="btn btn-primary">Add</button>
            </form>
          </div>

        </div> <!-- Info -->
      </div> <!-- main-content -->

      <div class="comments">

        <form *ngIf="authService.authenticated()" #form="ngForm" (ngSubmit)="postComment(form.value)" class="comment-form">
          <div class="form-group">
            <textarea class="form-control" rows="3" placeholder="Write your comment" name="comment" [(ngModel)]="newComment" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Post</button>
        </form>

          <!-- not sure how you're loading the data, but this can be the parent div of all the comments -->
          <div class='comments-list'>

            <!-- Template for each comment -->
            <div class="single-comment" *ngFor="let comment of project.Comments">
              <hr>
              <p class='comment-author'>
                <a routerLink="/profile/{{comment.Profile.url}}">{{comment.Profile.name}}</a>
              </p>
              <p class='comment-body'>
                {{comment.comment}}
              </p>
              <div *ngIf="checkUser(comment.Profile.url)"><i class="fa fa-trash" aria-hidden="true"></i></div>
            </div> <!-- single-comment -->

          </div> <!-- comments-list -->

      </div> <!-- comments -->

  </div> <!-- main-card -->
</div>
<div *ngIf="error">
  No such project!
</div>