<div *ngIf="project" class="container horizontal-center">

  <div class="main-card shadow">
      <!-- Header -->
      <div class='header'>
        <h3 class='title'>{{project.title}}</h3>
        <p class='subhead'>
          <!-- Attatch the project.Profile.url when your profile has it!! -->
          by <a class='user-name navLink' routerLink="/profile/{{project.Profile.url}}">{{project.Profile.name}}</a> on <span class='date'>{{project.createdAt}}</span>
        </p>
      </div>

      <div class="main-content">
        <!-- Main Image -->
        <div class="main-img-viewport">
          <img src={{project.thumbnail}} alt="main-img" class='main-img' />
          <span *ngIf="isOwner(project.Profile.authId)">Add Image</span>
        </div>
        

        <!-- Info -->
        <div class="info">
          <div>
            <p class='description'>
              {{project.description}}
            </p>
            <span *ngIf="isOwner(project.Profile.authId)">Edit Description</span>
          </div>
          <hr>
          <div class="social">
            <p class='likes' (click)="likeProject(project.id)"> <i [ngStyle]="like" class="fa fa-heart" aria-hidden="true"></i> {{project.likes}}</p>
            <p class='views'> <i class="fa fa-eye" aria-hidden="true"></i> {{project.views}}</p>
          </div>

          <hr>

          <p *ngFor="let tech of project.Teches" class='tech'>
            {{tech.name}}
          </p>

          
          <!--Add to tech stack-->
          <div *ngIf="isOwner(project.Profile.authId)">
            <datalist id="techs">
              <option *ngFor="let tech of techs" [value]="tech.name">
            </datalist>
            <form #add="ngForm" (ngSubmit)="addTech($event, add.value)">
              <input type="text" list="techs" name="tech" id="techInput" ngModel>
              <button type="submit" class="btn btn-primary">Add</button>
            </form>
          </div>

        </div> <!-- Info -->
      </div> <!-- main-content -->

  </div> <!-- main-card -->
</div>
<div *ngIf="error">
  No such project!
</div>