/* A couple of utility classes for re-use */
.horizontal-center {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.shadow {
  -webkit-box-shadow: 0 5px 6px -6px #bdc3c7;
  -moz-box-shadow: 0 5px 6px -6px #bdc3c7;
  box-shadow: 0 5px 6px -6px #bdc3c7;
}

.container {
  color: #444444;
}

/* whole card */
.main-card {
  width: 1050px;
  background-color: white;
  padding: 30px;
  border-radius: 5px;

  margin-bottom: 40px;

  display: inline-block;
}

/* header section */

.header {
  max-width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-bottom: 10px;

  color: #444444;
}

.title {
  margin-bottom: 3px;
  padding-right: 10px;
  display: inline;
}

.subhead {
  font-size: 0.9em;
}

.date {
  color: #888B8D;
}

/* main content */

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* main image */

.main-img-viewport {
  width: 650px;
  height: 455px;
  overflow: hidden;

  position: relative;
}

.main-img-wrapper {
  width: 100%;
  height: 100%;

  position: absolute;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main-img {
  max-width: 100%;
  height: auto;
}

/* Small images */

.small-images-view {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.small-img-cont {
  width: 150px;
  height: 105px;
  overflow: hidden;

  position: relative;
  margin-top: 2px;
  margin-right: 15px;
}

.small-img-wrapper {
  width: 100%;
  height: 100%;

  position: absolute;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.small-img {
  max-width: 100%;
  height: auto;
}


/* Info sidebar */
.info {
  width: 300px;
  /*display: flex;
  flex-direction: column;
  justify-content: space-around;*/
}

.tech {
  color: #888B8D;
  font-size: 0.9em;
}

#techInput {
  width: 250px;
}

/* Icons and Like/View data */
.social {
  color: #888B8D;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  margin-bottom: -20px;

}

.social > p {
  margin-right: 20px;
}

.social .fa {
  font-size: 1.3em;
  margin-right: 5px;
}

.fa-heart, .fa-plus, .fa-pencil, .fa-times {
  cursor: pointer;
}


/* Comments */

.comments {
  margin-top: 20px;
  width: 800px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.comment-form {
  width: 600px;
}

.single-comment {
  width: 600px;
}

.comment-author {
  margin-bottom: 5px;
  font-weight: bold;
}

.comment-body {
  margin-bottom: 5px;
}

.comment-created-at, .fa-trash {
  font-size: 0.9em;
  color: #888B8D;
}

/* Global Tag Styles */

a, a:visited {
  color: #444444;
  text-decoration: none;
}

a:hover, a:focus {
  color: salmon;
}

hr {
  width: 100%;
  height: 2px;

  border: none;
  background-color: #F4F4F4;

  margin-bottom: 20px;
  margin-top: 20px;
}

input[name="title"] {
  max-width: 300px;
  margin-top: 0;
}

.fa-pencil  {
  color: #D9D9D9;
}

.fa-plus {
  color: #888B8D;
}

.image-up {
  font-size: 12px;
  color: #888B8D; 
}

.btn-primary, .btn-primary:active {
  background-color: salmon;
  border: none;
  outline: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn-file {
  position: relative;
  overflow: hidden;
  color: #888B8D;
  background-color: white;
  border: 1px solid #D9D9D9;
  margin-top: 10px;
}

.btn-file input[type=file] {
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;

  cursor: inherit;
  display: block;
}

.error {
  font-size: 12px;
  color: red;
}