/* A couple of utility classes for re-use */
.horizontal-center {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.shadow {
  -webkit-box-shadow: 0 5px 6px -6px #bdc3c7;
  -moz-box-shadow: 0 5px 6px -6px #bdc3c7;
  box-shadow: 0 5px 6px -6px #bdc3c7;
}

.project-wrapper {
  border: 2px solid salmon;
  min-width: 1000px;
}

/* Thumbnail card */
.project-thumbnail {
  border-radius: 3px;
  background-color: white;
  padding: 5px;

  width: 225px;
  height: 225px;
}

/* Hover */
.project-thumbnail-hover {
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0.9);

  cursor: pointer;
  z-index: 1;

  width: 215px;
  height: 150px;
}

/* Project Details */
h4.project-name {
  margin-top: 20px;
  color: #444444;
  font-size: 1.3em;
}

.project-description {
  width: 210px;
  max-height: 80px;
  display: relative;
  font-size: 0.9em;
  color: #444444;
  text-align: center;
  border: 2px solid salmon;

  text-overflow: ellipsis;
  overflow: hidden;
}

.project-date {
  color: #444444;
}

/* Profile Info */
.profile-image {
  width: 30px;
}

/* Image */

.project-thumbnail-img-viewport {
  width: 215px;
  height: 150px;
  overflow: hidden;
  padding: 0px;

  position: relative;

  /*border: 2px solid salmon;*/
}

.image-wrapper {
  width: 100%;
  height: 100%;
  padding: 0px;

  position: absolute;
  /*border: 2px solid lightgreen;*/

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.project-thumbnail-img {
  min-width: 210px;
  min-height: 147px;
  margin: 0px;
  /*border: 2px solid purple;*/

  /*position: absolute;*/
}

/* Social */
.project-thumbnail-views {

  color: #888B8D;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.fa {
  margin-left: 15px;
}

.likes {
  padding-bottom: 5px;
}

.smaller {
  font-size: 11px;
}
