/* A couple of utility classes for re-use */
.horizontal-center {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.shadow {
  -webkit-box-shadow: 0 5px 6px -6px #bdc3c7;
  -moz-box-shadow: 0 5px 6px -6px #bdc3c7;
  box-shadow: 0 5px 6px -6px #bdc3c7;
}

/* Thumbnail card */
.project-thumbnail {
  border-radius: 3px;
  background-color: white;

  width: 225px;
  height: 225px;
}

/* Hover */
.project-thumbnail-hover {
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.9);

  cursor: pointer;

  width: 225px;
  height: 150px;
}

/* Project Details */
h4.project-name {
  margin-top: 20px;
  color: #444444;
  font-size: 1.3em;
}

.project-description {
  max-width: 95%;
  font-size: 0.9em;
  color: #444444;
  text-align: center;
}

/* Social */
.project-thumbnail-views {

  color: #888B8D;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.fa {
  margin-left: 15px;
}

.likes {
  padding-bottom: 5px;
  cursor: pointer;
}
