<div *ngFor="let project of projects | slice:0:15; let i = index" class="project-thumbnail shadow">
  <div class="project-thumbnail-hover hide" hover>
    <h4 class="project-name">{{project.projectName}}</h4>
  </div>

  <div class="project-thumbnail-img-viewport">
    <img class="project-thumbnail-img" src="{{project.imgUrl}}">
  </div>
  <div class="project-thumbnail-views">
    <p class='likes'> <i class="fa fa-heart" aria-hidden="true"></i> {{project.likes}}</p>
    <p class='views'> <i class="fa fa-eye" aria-hidden="true"></i> {{project.views}}</p>
  </div>
</div>
