/* A couple of utility classes for re-use */
.horizontalCenter {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.shadow {
  -webkit-box-shadow: 0 5px 6px -6px #bdc3c7;
  -moz-box-shadow: 0 5px 6px -6px #bdc3c7;
  box-shadow: 0 5px 6px -6px #bdc3c7;
}

.project-thumbnail {
  border-radius: 3px;
  background-color: white;

  width: 225px;
  height: 225px;
}

.project-thumbnail-hover {
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.9);

  cursor: pointer;

  width: 225px;
  height: 150px;
}

.project-name {
  margin-top: 20px;
  color: #444444;
}

.project-thumbnail-views {

  color: #888B8D;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.likes {
  margin-right: 15px;
  cursor: pointer;
}
