/* Utility */
.horizontal-center {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* NavBar */
.navBar {
  max-width: 100vw;
  height: 70px;
  margin-bottom: 20px;
  z-index: 50;
  background-color: white;

  padding-left: 4vw;
  padding-right: 4vw;

  border-bottom: 1px solid #D1D6D9;

  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: row;

  font-family: 'Roboto';
}

.sushi-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav-logo {
  margin-top: -5px;
  margin-right: 5px;
  /*transform: scaleX(-1);*/
}

.sushi-brand {
  margin-top: 7px;
}

h4, a, p, a.navLink {
  color: #888B8D;
  text-decoration: none;
}

a:hover, a.navLink:hover {
  color: salmon;
  cursor: pointer;
}

/* Links */
.navLink {
  margin-right: 4vw;
  font-size: 0.9em;
}

.links {
  width: auto;
  height: auto;
  float: right;
}

/* Dropdown */

.nav-dropdown {
  margin-right: 40px;
}

.dropdown-image {
  margin-left: 10px;
}
