<div class="navBar">
  <!-- Navbar brand -->
  <div class="nav-logo-container">
    <img class="nav-logo" src="./client/app/assets/sushi.png">
  </div>

  <div class="brand-container">
    <h4 class='sushi-brand'><a routerLink="/" class="navLink">sushiii</a></h4>
  </div>

  <div class='links'>
    <a routerLink="/" routerLinkActive="active" class="navLink">Projects</a>
    <a routerLink="/developers" routerLinkActive="active" class="navLink">Developers</a>
    <a routerLink="/teams" routerLinkActive="active" class="navLink">Teams</a>
  </div>

  <a *ngIf="!auth.authenticated()" class="navLink signIn" (click)="auth.login()">Sign In</a>

  <!-- <div class="right-side"> -->
  <!--Notifications-->
    <div class="notification" *ngIf="auth.authenticated()">
      <i class="fa fa-bell-o fa-lg notification-icon" id="notification" aria-hidden="true"></i>
      <div class="notification-number" *ngIf="numberOfNotifications > 0">
        {{ numberOfNotifications }}
      </div>
      <div class="inside notification-inside" *ngIf="notificationShow">
        <div class="space">
        </div>
        <div class="notifications">
          <div *ngIf="numberOfNotifications === 0">You have no notifications</div>
          <div *ngFor="let notification of notifications; let i = index" class="inside note">
            <!--sender reciver type of notification-->
            <span class="inside">You have been invited to join <a routerLink="/{{notification.Sender.url}}">{{ notification.Sender.name }}</a></span>
            <br>
            <i class="inside fa fa-check" aria-hidden="true" (click)="joinTeam(notification, index)"></i>
            <i class="inside fa fa-times" aria-hidden="true" (click)="decline(notification, index)"></i>
            <hr *ngIf="i < notifications.length - 1" class="inside">
          </div>
        </div>
      </div> <!-- notification-inside -->
    </div> <!-- notification -->

    <!-- Navbar Dropdown -->
    <div class="nav-dropdown" *ngIf="auth.authenticated()">
      <div id="profile">
        <span id="profile" class="name">{{ name }}</span>

        <!-- <div class="profile-photo-viewport">
          <div class="profile-photo-wrapper">
            <img [src]="picture" class="dropdown-image" id="profile">
          </div>
        </div> -->
        
        <img [src]="picture" class="dropdown-image" id="profile">
      </div>
      <div class="nav-dropdown-inside" *ngIf="profileShow" dropdown>

        <div class="space">

        </div>
        <div class="nav-dropdown-links">
          <div routerLink="/{{auth.checkUrl()}}" class="navLink">
            <span>Profile</span>
          </div>
          <hr>
          <div routerLink="/addproject" class="navLink">
            <span>Add Project</span>
          </div>
          <hr>
          <div routerLink="/createteam" class="navLink">
            <span>Create Team</span>
          </div>
          <hr>
          <div (click)="auth.logout()" class="navLink">
            <span>Logout</span>
          </div>
        </div>
      </div>
    </div>
  <!-- </div> right-side  -->


</div>
