<div class="about-title">
    <div class="header-container horizontal-center">
    <h2 class='header'>About Us</h2>
  </div>
  <div class="aboutus">
    <div class="member">
      <h4>Cameron Baughn</h4>
      <h5>Product Owner</h5>
      <img class="pic" src="https://avatars3.githubusercontent.com/u/16408101?v=3&s=460" alt=""><br>
      <a class="aboutus-link" href="https://github.com/cambaughn"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
      <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
    </div>
    <div class="member">
      <h4>Nancy Du</h4>
      <h5>Scrum Master</h5>
      <img class="pic" src="https://avatars2.githubusercontent.com/u/16739604?v=3&s=400" alt=""><br>
      <a class="aboutus-link" href="https://github.com/Nanciee"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
      <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
    </div>
    <div class="member">
      <h4>Jacob Goddard</h4>
      <h5>Lead Engineer</h5>
      <img class="pic" src="https://avatars0.githubusercontent.com/u/1160177?v=3&s=460" alt=""><br>
      <a class="aboutus-link" href="https://github.com/jgod77"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
      <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
    </div>
    <div class="member">
      <h4>Mike Hughes</h4>
      <h5>Lead Engineer</h5>
      <img class="pic" src="https://avatars3.githubusercontent.com/u/17888273?v=3&s=460" alt=""><br>
      <a class="aboutus-link" href="https://github.com/Hughes89"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
      <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
    </div>
  </div>
</div>