
<div class='container'>
  <div class="sidebar-container">
    <div class='sidebar horizontalCenter shadow'>

      <div class='topInfo horizontalCenter'>
        <!-- Profile Photo -->
        <div class='profilePhoto horizontalCenter'>
          <img class="profilePhoto" src="{{profileInfo.picture}}"/>
        </div>
        <!-- Change Profile Photo Button -->
        <!-- <div class="form-group">
          <label class="btn btn-default btn-file"> -->
            <input type="file"
              *ngIf="editing.picture"
              ngFileSelect
              [options]="options"
              (onUpload)="handleUpload($event); handleChange(input)" name="profilePhoto" #input>
            <!-- </label>
        </div> -->

        <div class="edit">
        <i *ngIf='isCurrentUser() || memberType === "Owner" || memberType === "Admin"' (click)="editForm('picture')" class="fa fa-pencil" aria-hidden="true" title="Edit Basic Information"></i>
        </div>
        <!-- Show Basic Profile Info -->
        <div *ngIf="!editing.basic">
        <h2 class='userName'>{{profileInfo.name}}</h2>
        <p>{{profileInfo.location}}</p>
        <p class='bio'>
          {{profileInfo.bio}}
        </p>
        <a href="mailto:{{profileInfo.email}}"><button class='follow' *ngIf="profileInfo.type === 'Member' && profileInfo.hire === true"><i class="fa fa-envelope" aria-hidden="true"></i> Hire Me</button></a>
        <a href="mailto:{{profileInfo.email}}"><button class='follow' *ngIf="profileInfo.type === 'Team' && profileInfo.hire === true"><i class="fa fa-envelope" aria-hidden="true"></i> Hire Us</button></a>
        </div>
        <!-- Edit basic profile info -->
        <div *ngIf="editing.basic">
        <form #editBasic="ngForm" (ngSubmit)="updateUserInfo($event, editBasic.value, 'basic')" onkeypress="return event.keyCode!=13">
          <input type="text" name="name" class="form-control" [(ngModel)]="profileInfo.name" placeholder="Full Name" required>
          <input id="location" (focus)="googleLocation()" class="form-control" [(ngModel)]="profileInfo.location" placeholder="Enter your location" name="location">
          <input type="text" name="bio" class="form-control" [(ngModel)]="profileInfo.bio" placeholder="Short Bio...">
          <br>For Hire:<br>
          <label class="switch">
            <input type="checkbox" [(ngModel)]="profileInfo.hire" name="hire">
            <div class="slider round"></div>
          </label><br>
          <button class="btn btn-primary btn-sm">Update</button>
        </form>
        </div>
        <!-- Edit Pencil Icon -->
        <div class="edit">
        <i *ngIf='isCurrentUser() || memberType === "Owner" || memberType === "Admin"' (click)="editForm('basic')" class="fa fa-pencil" aria-hidden="true" title="Edit Basic Information"></i>
        </div>
      </div> <!-- topInfo -->

      <hr>

      <!-- User Tech skills -->
      <div class='connect' *ngIf='profileInfo.Teches.length || isCurrentUser() || memberType === "Owner" || memberType === "Admin"'>
        <h4>SKILLS</h4>
        <ul *ngIf="profileInfo.Teches.length">
          <li *ngFor="let tech of profileInfo.Teches">{{tech.name}} <span><i *ngIf='isCurrentUser() || memberType === "Owner" || memberType === "Admin"' (click)="deleteTech($event, tech.id)" class="fa fa-times" aria-hidden="true"></i></span></li>
        </ul>
        <!-- Hidden User Tech Input -->
        <datalist id="techs">
          <option *ngFor="let tech of techs" [value]="tech.name">
        </datalist>
        <form *ngIf="editing.tech" (ngSubmit)="addTech()">
          <input type="text" list="techs" name="tech" id="techInput" class="form-control" [(ngModel)]="newTech" required>
          <button type="submit" class="btn btn-primary btn-sm">Add</button>
        </form>
        <div class="edit">
        <i *ngIf='isCurrentUser() || memberType === "Owner" || memberType === "Admin"' (click)="editForm('tech')" class="fa fa-plus" aria-hidden="true" title="Add Skills"></i>
        </div>
      </div>

      <!-- User Teams if single User -->
      <div class="connect" *ngIf="profileInfo.Team.length">
        <h4>TEAMS</h4>
        <div>
          <div *ngFor="let team of profileInfo.Team"><a routerLink="/{{team.url}}">{{team.name}}</a></div>
        </div>
      </div>

      <!-- Teams members if team profile -->
      <div class="connect" *ngIf="profileInfo.Member.length">
        <h4>MEMBERS</h4>
        <div>
          <div *ngFor='let member of profileInfo.Member'>
            <div *ngIf='member.TeamUsers.type !=="Pending" || memberType === "Owner" || memberType === "Admin"'>
              <a routerLink="/{{member.url}}">{{member.name}}</a>
              <span *ngIf='member.TeamUsers.type === "Pending"'>(Pending)</span>

              <!-- Member Type Icons -->
              <span *ngIf='member.TeamUsers.type === "Owner"'><i class="fa fa-star" aria-hidden="true" title="Owner"></i></span>
              <span *ngIf='member.TeamUsers.type === "Admin"'><i class="fa fa-user" aria-hidden="true" title="Admin"></i></span>

              <!-- Edit Member -->
              <span *ngIf='member.TeamUsers.type === "Admin" && (memberType === "Owner" || memberType === "Admin") && member.url !== clientId' (click)="demoteMember(member)"><i class="fa fa-level-down" aria-hidden="true" title="Demote"></i></span>
              <span *ngIf='member.TeamUsers.type === "Member" && (memberType === "Owner" || memberType === "Admin") && member.url !== clientId' (click)="promoteMember(member)"><i class="fa fa-level-up" aria-hidden="true" title="Promote"></i></span>
              <span *ngIf='member.TeamUsers.type !== "Owner" && (memberType === "Owner" || memberType === "Admin") && member.url !== clientId' (click)="removeMember(member.id, member.name)"><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
          </div>
        </div>
        <div class="edit">
        <div *ngIf="editing.member">
          <form (ngSubmit)="addMember()">
            <input type="text" name="member" class="form-control" [(ngModel)]="newMember" placeholder="Enter username">
            <button class="btn btn-primary btn-sm">Add</button>
          </form>
        </div>
        <!-- Edit Pencil Icon -->
        <i *ngIf='memberType === "Owner" || memberType === "Admin"' (click)="editForm('member')" class="fa fa-user-plus" aria-hidden="true" title="Add Members"></i>
        </div>
      </div>

      <hr>

      <!-- User/Team Connections -->
      <div class='connect' *ngIf="profileInfo.facebook || profileInfo.twitter || profileInfo.personal || profileInfo.blog || profileInfo.github || profileInfo.linkedin || isCurrentUser() || memberType === 'Owner' || memberType === 'Admin'">
        <h4>CONNECT</h4>
        <ul class='urls' *ngIf="!editing.contact">
          <li *ngIf="profileInfo.personal"><i class="fa fa-globe" aria-hidden="true"></i><a href='{{profileInfo.personal}}'>personal</a></li>
          <li *ngIf="profileInfo.blog"><i class="fa fa-book" aria-hidden="true"></i><a href='{{profileInfo.blog}}'>blog</a></li>
          <li *ngIf="profileInfo.github"><i class="fa fa-github" aria-hidden="true"></i><a href='{{profileInfo.github}}'>github</a></li>
          <li *ngIf="profileInfo.linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i><a href='{{profileInfo.linkedin}}'>linkedin</a></li>
          <li *ngIf="profileInfo.twitter"><i class="fa fa-twitter" aria-hidden="true"></i><a href='{{profileInfo.twitter}}'>twitter</a></li>
          <li *ngIf="profileInfo.facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i><a href='{{profileInfo.facebook}}'>facebook</a></li>
          <li *ngIf="profileInfo.createdAt">Member since: {{profileInfo.createdAt}}</li>
        </ul>
        <!-- User/Team Connection edit forms -->
        <div *ngIf="editing.contact">
          <form #editBasic="ngForm" (ngSubmit)="updateUserInfo($event, editBasic.value, 'contact')">
          <input type="text" name="personal" class="form-control" [(ngModel)]="profileInfo.personal" placeholder="Personal website url...">
          <input type="text" name="blog" class="form-control" [(ngModel)]="profileInfo.blog" placeholder="Personal Blog url...">
          <input type="text" name="github" class="form-control" [(ngModel)]="profileInfo.github" placeholder="Github url...">
          <input type="text" name="linkedin" class="form-control" [(ngModel)]="profileInfo.linkedin" placeholder="LinkedIn url...">
          <input type="text" name="twitter" class="form-control" [(ngModel)]="profileInfo.twitter" placeholder="Twitter url...">
          <input type="text" name="facebook" class="form-control" [(ngModel)]="profileInfo.facebook" placeholder="Facebook url...">
          <button class="btn btn-primary btn-sm">Update</button>
        </form>
        </div>
        <div class="edit">
        <i *ngIf='isCurrentUser() || memberType === "Owner" || memberType === "Admin"' (click)="editForm('contact')" class="fa fa-pencil" aria-hidden="true" title="Edit Connections"></i>
        </div>
      </div>
      <!-- User URL Edit -->
      <div class="connect" *ngIf='isCurrentUser() || memberType === "Owner" || memberType === "Admin"'>
        <h4>sushi username</h4>
        <span *ngIf="urlTaken">Username Unavailable!</span>
        <form #editUrl="ngForm" (ngSubmit)="updateUserInfo($event, editUrl.value, 'url')">
          http://sushi.com/<input type="text" class="form-control userUrl" name="url" [(ngModel)]="tempUrl" placeholder="sushi URL"><br>
          <button class="btn btn-primary btn-sm">Update</button>
        </form>
      </div>

      <button class="btn btn-primary btn-sm" *ngIf='memberType === "Pending"' (click)='joinTeam()'>Join Team</button>
      <button class="btn btn-primary btn-sm" *ngIf='memberType === "Member" || memberType === "Admin"' (click)='leaveTeam()'>Leave Team</button>
      <button class="btn btn-primary btn-sm" *ngIf='memberType === "Owner"' (click)='deleteTeam()'>Delete Team</button>
    </div> <!-- sidebar -->

  </div> <!-- sidebar-container -->


  <!-- projects -->
  <div class="thumbnails">
    <project-thumbnail [projects]="projects"></project-thumbnail>
  </div>


</div>  <!-- container -->
