/* A couple of utility classes for re-use */
.horizontalCenter {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.shadow {
  -webkit-box-shadow: 0 5px 6px -6px #bdc3c7;
  -moz-box-shadow: 0 5px 6px -6px #bdc3c7;
  box-shadow: 0 5px 6px -6px #bdc3c7;
}

/* whole page container */
.container {

  display: -webkit-flex;
  display: flex;

  justify-content: space-around;
  flex-direction: row;
}


/* sidebar as a whole */
.sidebar {
  min-width: 290px;
  background-color: white;
  border-radius: 5px;

  padding-top: 30px;
  padding-bottom: 30px;

  flex: none;
}

/* top info: photo, username, bio, and follow button */
.topInfo {
  width: 240px;
  margin-bottom: 20px;

  text-align: center;

}

.profilePhoto {
  width: 70px;
  /*height: 70px;*/
  border-radius: 100%;
  /*background-color: #888B8D;*/
  margin-bottom: 15px;

  color: #F4F4F4;

  justify-content: center;
}

.userName {
  margin-bottom: 5px;
  display: inline;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.bio {
  font-size: 0.9em;
  line-height: 1.3em;
  margin-bottom: 15px;
}

.follow {
  color: white;
  font-size: 0.9em;

  padding-left: 12px;
  padding-right: 12px;
  padding-top: 7px;
  padding-bottom: 7px;

  background-color: salmon;
  border-radius: 3px;
  border: none;

  cursor: pointer;
}

.follow:focus {
  outline: none;
}

/* Change Photo Button */


/*
.btn-file {
  position: relative;
  overflow: hidden;
  color: #888B8D;
  background-color: white;
  border: 1px solid #D9D9D9;
  margin-top: 10px;
}

.btn-file input[type=file] {
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;

  cursor: inherit;
  display: block;
}*/


/* Tech */

.tech-list {
  /*border: 2px solid lightgreen;*/
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.tech-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.tech-name {
  /*background-color: #D9D9D9;*/
  border-radius: 3px;
  border: 1px solid salmon;
  color: salmon;

  height: 25px;

  padding-left: 7px;
  padding-right: 7px;
  margin-right: 7px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


/* connect: header and links */
.connect {
  width: 240px;

  text-align: left;
}

.connect > h5 {
  color: #888B8D;
}

.edit-connect {
  margin-bottom: 10px;
}

.edit {
  width: 240px;
  text-align: right;
}

.urls {
  list-style: none;
  margin-top: 5px;
  padding-left: 0;
  font-size: 0.9em;
  line-height: 2em
}

.userUrl {
  width: 125px;
  display: inline-flex;
}


/* split */
hr {
  width: 100%;
  height: 0.5px;
  margin-bottom: 20px;
  border: none;
  background-color: #F4F4F4;
}

/* thumbnails */

.thumbnails {
  margin-top: 0;
  padding: 0;

  min-width: 750px;
}

/* Global Tag Styles */

.btn, .btn:active {
  margin-bottom: 10px;
  background-color: salmon;
  border-color: salmon;
  outline: none;
}

.edit {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.fa {
  color: #D9D9D9;
  margin-right: 10px;
}

.fa-pencil {
}

.fa-plus {
  margin-top: 5px;
  margin-bottom: -20px;
}

.fa-envelope {
  color: white;
}

input {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #444444;
}

a:hover {
  color: salmon;
}

ul {
  list-style-type: none;
}
