/* A couple of utility classes for re-use */
.horizontal-center {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.shadow {
  -webkit-box-shadow: 0 5px 6px -6px #bdc3c7;
  -moz-box-shadow: 0 5px 6px -6px #bdc3c7;
  box-shadow: 0 5px 6px -6px #bdc3c7;
}


/* sidebar as a whole */
.sidebar {
  width: 250px;
  background-color: white;
  border-radius: 5px;

  padding-top: 30px;
  padding-bottom: 30px;
}
