<div class="container">


  <div class="header-container horizontal-center">
    <h2 class='header'>Search for Developers</h2>
  </div>

  <div class="main-content">

    <div class="sidebar-container">
      <div class="sidebar horizontal-center shadow">




        <form class="search-for-devs">
          <!--
          <fieldset class="form-group">
            <legend>Sort</legend>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadios" id="popular-radio" value="popular" checked>
                Popular
              </label>
            </div>

            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadios" id="recent-radio" value="recent">
                Recent
              </label>
            </div>
          </fieldset> -->

          <fieldset class="form-group">
            <legend>Name</legend>
            <input type="text" class="form-control" id="tech" aria-describedby="searchByTech" placeholder="e.g. Mike Hughes">
          </fieldset>

          <!-- Hire checkbox -->
          <fieldset class="form-check">
            <legend>Hire</legend>
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input">
              For Hire
            </label>
          </fieldset> <!-- Hire checkbox -->

          <hr>

          <fieldset class="form-group">
            <legend>Location</legend>
            <input type="text" class="form-control" id="tech" aria-describedby="searchByTech" placeholder="e.g. San Francisco, CA">
          </fieldset>

          <hr>

          <fieldset class="form-group">
            <legend>Tech</legend>
            <input type="text" class="form-control" id="tech" aria-describedby="searchByTech" placeholder="e.g. React, Node, MongoDB">
          </fieldset>

          <!-- Search Button -->
          <button type="submit" class="btn btn-primary">Search</button>

        </form>
      </div> <!-- sidebar -->

    </div> <!-- sidebar-container -->

    <div class="previews">
      <profile-preview></profile-preview>
      <profile-preview></profile-preview>
    </div>

  </div> <!-- main-content -->






</div> <!-- container -->
