<div class="container">

  <div class="sidebar horizontal-center shadow">


    <form class="search-for-devs">
      <!-- Sort Radio Buttons -->
      <fieldset class="form-group">
        <legend>Sort</legend>
        <div class="form-check">
          <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optionsRadios" id="popular-radio" value="popular" checked>
            Popular
          </label>
        </div> <!-- form-check -->

        <div class="form-check">
          <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optionsRadios" id="recent-radio" value="recent">
            Recent
          </label>
        </div> <!-- form-check -->
      </fieldset> <!-- SORT fieldset form-group -->

      <fieldset class="form-check">
        <legend>Hire</legend>
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input">
          For Hire
        </label>
      </fieldset>

    </form>
  </div> <!-- sidebar -->







</div> <!-- container -->
