
<div class="container horizontal-center">


  <div class="main-content shadow horizontal-center">
    <h4>Edit Profile</h4>

    <form>
      <div class="form-group">
        <p class='name-label'>Name:</p>
        <input type="text" class="form-control" placeholder="Enter your full name" value="{{name}}">
      </div>

      <div class="form-group">
        <p class='email-label'>URL:</p>
        <input type="email" class="form-control" placeholder="Enter new URL" value="{{email}}">
      </div>

      <div class="form-group">
        <p class='location-label'>Location:</p>
        <input type="text" class="form-control" placeholder="Enter your location" value="{{location}}">
      </div>

      <div class="form-group">
        <p class='location-label'>Hire:</p>
        <label class="switch">
          <input type="checkbox" name="openSource" ngModel>
          <div class="slider round"></div>
        </label>
      </div>

      <div class="form-group">
        <p class='bio-label'>Bio:</p>
        <textarea class="form-control" rows="3" placeholder="Enter your bio" value="{{bio}}"></textarea>
      </div>

      <div class="form-group">
        <p class='location-label'>Connect:</p>
        Personal: <input type="text" class="form-control" placeholder="Enter your personal website url">
        Blog: <input type="text" class="form-control" placeholder="Enter your personal website url">
        Github: <input type="text" class="form-control" placeholder="Enter your personal website url">
        LinkedIn: <input type="text" class="form-control" placeholder="Enter your personal website url">
        Twitter: <input type="text" class="form-control" placeholder="Enter your personal website url">
        Facebook: <input type="text" class="form-control" placeholder="Enter your personal website url">
      </div>

      <button type="submit" class="btn btn-primary">Save</button>

    </form>
  </div>


</div> <!-- container -->
